# Data Cleaning Pandas - Assignment

It happens all the time: someone gives you data containing malformed strings,
Python, lists and missing data. How do you tidy it up so you can get on with the
analysis?
Take this monstrosity as the DataFrame to use in the following puzzles:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

One) Some values in the the FlightNumber column are missing. These numbers are 
meant to increase by 10 with each row so 10055 and 10075 need to be put in
place. Fill in these missing numbers and make the column an integer column
(instead of a float column).

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})
df.iloc[1,1] = (df.iloc[0,1]+10)
df.iloc[3,1] = (df.iloc[0,1]+30)
pd.options.display.float_format = '{:.0f}'.format
print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

Two) The From_To column would be better as two separate columns! Split each
string on the underscore delimiter _ to give a new temporary DataFrame with
the correct values. Assign the correct column names to this temporary
DataFrame.

In [3]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})
df.iloc[1,1] = (df.iloc[0,1]+10)
df.iloc[3,1] = (df.iloc[0,1]+30)
pd.options.display.float_format = '{:.0f}'.format
df['From'] = df['From_To'].str.split('_').str[0]
df['To'] = df['From_To'].str.split('_').str[1]
print(pd.DataFrame(df,columns=['From','To','FlightNumber','RecentDelays','Airline']))

       From         To  FlightNumber  RecentDelays              Airline
0    LoNDon      paris         10045      [23, 47]               KLM(!)
1    MAdrid      miLAN         10055            []    <Air France> (12)
2    londON  StockhOlm         10065  [24, 43, 87]  (British Airways. )
3  Budapest      PaRis         10075          [13]       12. Air France
4  Brussels     londOn         10085      [67, 32]          "Swiss Air"

Three) Notice how the capitalisation of the city names is all mixed up in this
temporary DataFrame. Standardise the strings so that only the first letter is
uppercase (e.g. "londON" should become "London".)

In [4]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})
df.iloc[1,1] = (df.iloc[0,1]+10)
df.iloc[3,1] = (df.iloc[0,1]+30)
pd.options.display.float_format = '{:.0f}'.format
df['From'] = df['From_To'].str.split('_').str[0]
df['To'] = df['From_To'].str.split('_').str[1]
df['From'] = df['From'].str.title()
df['To'] = df['To'].str.title()
print(pd.DataFrame(df,columns=['From','To','FlightNumber','RecentDelays','Airline']))

       From         To  FlightNumber  RecentDelays              Airline
0    London      Paris         10045      [23, 47]               KLM(!)
1    Madrid      Milan         10055            []    <Air France> (12)
2    London  Stockholm         10065  [24, 43, 87]  (British Airways. )
3  Budapest      Paris         10075          [13]       12. Air France
4  Brussels     London         10085      [67, 32]          "Swiss Air"

Four) Delete the From_To column from df and attach the temporary DataFrame
from the previous questions.

In [9]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})
df.iloc[1,1] = (df.iloc[0,1]+10)
df.iloc[3,1] = (df.iloc[0,1]+30)
pd.options.display.float_format = '{:.0f}'.format
df['From'] = df['From_To'].str.split('_').str[0]
df['To'] = df['From_To'].str.split('_').str[1]
df['From'] = df['From'].str.title()
df['To'] = df['To'].str.title()
df.drop('From_To',axis=1,inplace=True)
print(df)

   FlightNumber  RecentDelays              Airline      From         To
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

Five) In the RecentDelays column, the values have been entered into the
DataFrame as a list. We would like each first value in its own column, each
second value in its own column, and so on. If there isn't an Nth value, the value
should be NaN.
Expand the Series of lists into a DataFrame named delays, rename the columns
delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df
with delays.

In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})
df.iloc[1,1] = (df.iloc[0,1]+10)
df.iloc[3,1] = (df.iloc[0,1]+30)
pd.options.display.float_format = '{:.0f}'.format
df['From'] = df['From_To'].str.split('_').str[0]
df['To'] = df['From_To'].str.split('_').str[1]
df['From'] = df['From'].str.title()
df['To'] = df['To'].str.title()
df.drop('From_To',axis=1,inplace=True)
#print(pd.DataFrame(df,columns=['From','To','FlightNumber','RecentDelays','Airline']))
df[['Dela1','Delay2','Delay3']] = pd.DataFrame(df.RecentDelays.tolist(), index= df.index)
df['Delays']=df['RecentDelays']
df.drop('RecentDelays',axis=1,inplace=True)
print(pd.DataFrame(df,columns=['From','To','FlightNumber','Delay1','Delay2','Delay3','Airline','Delays']))

       From         To  FlightNumber  Delay1  Delay2  Delay3  \
0    London      Paris         10045     nan      47     nan
1    Madrid      Milan         10055     nan     nan     nan
2    London  Stockholm         10065     nan      43      87
3  Budapest      Paris         10075     nan     nan     nan
4  Brussels     London         10085     nan      32     nan

               Airline        Delays
0               KLM(!)      [23, 47]
1    <Air France> (12)            []
2  (British Airways. )  [24, 43, 87]
3       12. Air France          [13]
4          "Swiss Air"      [67, 32]